<!DOCTYPE html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta charset="utf-8">
<html xmlns:th="https://www.thymeleaf.org"
	th:replace="~{fragments/layout :: layout (~{::body},'owners')}">
</head>
<body>
	<table class="table table-striped" th:object="${owner}">
		<h2 th:text="*{firstName + ' Information'}">Owner Information</h2>
		<tr>
			<th>Name</th>
			<td><b th:text="*{firstName + ' ' + lastName}"></b></td>
		</tr>
		<tr>
			<th>E-mail</th>
			<td th:text="*{email}" /></td>
		</tr>
	</table>
	<a th:href="@{{id}/edit(id=${owner.id})}" class="btn btn-default">Edit
		Information</a>
	<a th:href="@{/logout}" class="btn btn-default">Logout</a>
	<br></br>

	<h2>Sensors</h2>
	<table id="sensors" class="table table-striped">
		<thead>
			<tr>
				<th style="width: 150px;">Id</th>
				<th th:text="#{name}" style="width: 150px;">Name</th>
				<th th:text="#{plant}" style="width: 150px;">Plant</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="sen : ${owner.sensors}">
				<td th:text="*{sen.id}"></td>
				<td th:text="*{sen.name}"></td>
				<td th:text="*{sen.plant.type.name}"></td>
			</tr>
		</tbody>
	</table>

</body>

</html>
