<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org"
	th:replace="~{fragments/layout :: layout (~{::body},'sensors')}">

<body>

	<h2>Humidity Sensor</h2>
	<form th:object="${sensor}" class="form-horizontal"
		id="add-sensors-form" method="post">
		<div class="form-group has-feedback">
			<input
				th:replace="~{fragments/inputField :: input ('Id', 'id', 'text')}" />
			<input
				th:replace="~{fragments/inputField :: input ('Name', 'name', 'text')}" />
			<input
				th:replace="~{fragments/inputField :: input ('Humidity Current', 'humidity', 'text')}" />
			<input
				th:replace="~{fragments/selectField :: select ('Plant', 'plant.name', ${plants})}" />
		</div>
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button th:with="text=${sensor['new']} ? 'Add Sensor'"
					class="btn btn-default" type="submit" th:text="${text}">Add
					Sensor</button>
			</div>
		</div>
	</form>

</body>

</html>
