<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org"
  th:replace="~{fragments/layout :: layout (~{::body},'sensors')}">

  <body>
  
  
    <h2>Sensor Information</h2>
  
  
    <table class="table table-striped" th:object="${humiditySensor}">
      <tr>
        <th>Nome</th>
        <td><b th:text="*{id}"></b></td>
      </tr>
      <tr>
        <th>Nome</th>
        <td><b th:text="*{name}"></b></td>
      </tr>
      <tr>
        <th>Umidade atual</th>
        <td th:text="*{humidity}"></td>
      </tr>
      <tr>
        <th>Faixa de umidade</th>
        <td th:text="*{mensagem}"></td>
      </tr>
    </table>
 
  </body>

</html>
