<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org"
	th:replace="~{fragments/layout :: layout (~{::body},'sensors')}">

<body>


	<h2 th:text="#{sensor_information}">Sensor Information</h2>


	<table class="table table-striped" th:object="${humiditySensor}">
		<tr>
			<th>ID</th>
			<td><b th:text="*{id}"></b></td>
		</tr>
		<tr>
			<th th:text="#{name}">Name</th>
			<td th:text="*{name}"></td>
		</tr>
		<tr>
			<th th:text="#{message}">Message</th>
			<td th:text="*{message}"></td>
		</tr>
		<tr>
			<th th:text="#{plant}">Plant</th>
			<td th:text="*{plant.type.name}"></td>
		</tr>
	</table>

	<h2>Read</h2>
	<table class="table table-striped">

		<thead>
			<tr>
				<th th:text="#{humidity}">Humidity</th>
				<th th:text="#{date}">Date</th>
			</tr>
		</thead>
		<tr th:each="r : ${humiditySensor.reads}">
			<td th:text="${r.humidity}" /></td>
			<td th:text="${r.date_read}" /></td>
		</tr>
	</table>

</body>

</html>
