<!DOCTYPE html>

<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<html xmlns:th="https://www.thymeleaf.org"
	th:replace="~{fragments/layout :: layout (~{::body},'login')}">


<title>Login</title>

<!-- css -->
<link rel="stylesheet" th:href="@{/resources/fonts/login.css}"
	type="text/css">
<!-- /css -->

</head>


<body>
<body class="text-center">
	<form class="form-signin" th:action="@{/login}" method="post">
		<img class="mb-4" src="resources/images/pets.png" alt="" width="72"
			height="72">
		<h1 class="h3 mb-3 font-weight-normal">Login</h1>
		<label for="text" class="sr-only">Username</label>
			<input class="form-control" type="text" name="username" placeholder="Username"/>
		<label for="inputPassword" class="sr-only">Password</label> 
		<input class="form-control" type="password" name="password" placeholder="Password" />

		<button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
	</form>

</body>


</html>